# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# C extensions
*.so

# Distribution / packaging
*.egg-info/
.dist/
build/

# Virtual environment
venv/
.env/
ENV/

# SQLite database file
*.sqlite3

# IDE / editor folders
.idea/
.vscode/
